.container-tags {
    padding-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--color_);
    border: 1px solid var(--border);
    border-radius: 0.35em;
    box-shadow: 0 10px 60px var(--shadow);
}

.container-tags .tag {
    
    white-space: nowrap;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid var(--border);
    border-radius: 2em;
    transition: transform 0.2s, background 0.2s, -webkit-background-clip 0.2s;
    transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom:5px;
}

.container-tags .tag input[type="checkbox"] {
    visibility: hidden;
    width: 1px;
    height: 1px;

}

.container-tags .tag:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, #ff8a00, #da1b60);
}



.checked {
    white-space: nowrap;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid var(--border);
    border-radius: 2em;
    transition: transform 0.2s, background 0.2s, -webkit-background-clip 0.2s;
    transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);
    transform: scale(1.2);
    background: linear-gradient(to right, #ff8a00, #da1b60);
}
