.opciones-etiquetas{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: start;
    gap: 2em;
}
.opciones-etiquetas > h4 {
    position: relative; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.opciones-etiquetas > h4:hover::after {
    content: "La busqueda exclusiva unicamente muestra las ofertas que contienen todas las etiquetas ";
    position: absolute;

    transform: translateX(-50%);
    background-color: #f9f9f9; 
    color: #333; 
    padding: 0.5em; 
    border-radius: 4px; 
    z-index: 1; 
    background-color: white;
}

.opciones-etiquetas > h4#exclusiva:hover::after {
    left: 48%;
    bottom: -7em;
    height: 5.8em;
    width: 11em;
    content: "La busqueda exclusiva unicamente muestra las ofertas que contienen todas las etiquetas selecionadas";
}
.opciones-etiquetas > h4#inclusiva:hover::after {
    left: 49%;
    bottom: -7em;
    height: 5.8em;
    width: 11em;
    content: "La busqueda inclusiva muestra todas las ofertas que contengan alguna de las etiquetas selecionadas";
}

.etiqueta-container{
   display: flex;
   gap: 20px
}

.secion-etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 20%;
    align-self: center;
}

.search-bar::placeholder {
    color: #999;
}