
.secion-etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secion-etiquetas > div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.secion-etiquetas > div:nth-child(2){
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar::placeholder {
    color: #999;
}

.search-bar {
    width: 50%;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 0.35em;
    margin: 2em;
}

.boton-esconder{
    width: 10em;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 0.35em;
    margin: 2em;

}

.visible {
    visibility:visible;
}
.hidden {
    visibility:hidden;
    height: 0;
    width: 0;
}