
.secion-etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secion-etiquetas > div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secion-etiquetas > div > button{
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 0.35em;
    margin: 2em;
}

.search-bar::placeholder {
    color: #999;
}

.search-bar {
    width: 50%;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 0.35em;
    margin: 2em;
}

